api_key = $API_KEY
cas_auth = https://cas.bordeaux-inp.fr/login
cas_validate = https://cas.bordeaux-inp.fr/serviceValidate
csrf_expiry = 300

[database]
driver = mysql
host = localhost
;port = 3306
dbname = $CAS_DB_NAME
username = $CAS_DB_USERNAME
password = $CAS_DB_PASSWORD